<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- INPUT -->
    <bean id="todayInput" class="com.reader.TodayReader" />
    <bean id="consoleInput" class="com.reader.ConsoleReader" />
    <bean id="configFileInput" class="com.reader.ConfigFileReader" />

    <!-- OUTPUT -->
    <bean id="consoleOut" class="com.writer.ConsoleCalendarWriter"/>
    <bean id="htmlOut" class="com.writer.HTMLCalendarWriter"/>

    <bean id="CalendarApplication" class="com.run.CalendarApplication">
        <property name="reader" ref="todayInput" />
        <property name="calendarWriter" ref="htmlOut"/>
    </bean>

</beans>
